<!-- Header Section -->
<header class="hero is-primary has-background-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-2-tablet is-size-3-mobile">Welcome to Prairie Plants</h1>
      <h2 class="subtitle is-size-4-tablet is-size-5-mobile">Bringing nature closer to your home.</h2>
      <a href="<%= categories_path %>" class="button is-large is-link is-fullwidth-mobile">Shop Now</a>
    </div>
  </div>
</header>

<!-- Featured Categories Section -->
<section id="categories" class="section has-background-primary-light py-2 is-clipped">
  <div class="container has-text-centered">
    <h2 class="title has-text-centered">Featured Plant Categories</h2>
    <div class="columns is-multiline is-centered">
      <% @categories.each do |category| %>
        <div class="column is-full-mobile is-half-tablet mb-4">
          <div class="card custom-card" style="height: 100%; display: flex; align-items: center; justify-content: center;">
            <div class="card-content" style="padding: 1rem;">
              <h3 class="title is-6 is-size-5-mobile mb-2"><%= category.name %></h3>
              <p class="content is-size-7 is-size-6-mobile mb-3"><%= truncate(category.description, length: 80) %></p>
              <%= link_to "Explore", category_path(category), class: "button is-dark is-small" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>



<style>
  @media (max-width: 768px) {
    #categories {
      padding-bottom: 0 !important;
      min-height: auto !important;
    }
  }
</style>


<!-- Featured Products Section -->
<section id="products" class="section has-background-primary-light py-6-mobile">
  <div class="container has-text-centered">
    <h2 class="title has-text-centered">Top Products</h2>
    <div class="columns is-multiline">
      <% @products.limit(6).each do |product| %>
        <div class="column is-one-third is-full-mobile mb-4">
          <div class="card custom-card">
            <div class="card-content">
              <% if product.image.present? %>
                <div class="product-image has-text-centered mb-4">
                  <%= image_tag product.image.url(), alt: product.name, class: "image is-150x150", style: "width: 100%; max-height: 300px;" %>
                </div>

              <% else %>
                <div class="product-image has-text-centered mb-4">
                  <p>No image available</p>
                </div>
              <% end %>
              <div>
                <h5 class="title is-5 is-size-4-mobile"><%= product.name %></h5>
                <p class="content is-size-5-mobile"><%= truncate(product.description, length: 100) %></p>
                <p class="content is-size-6-mobile"><strong>Price:</strong> $<%= product.price %></p>
              </div>
              <%= link_to "View Details", product_path(product), class: "button is-primary mt-3" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- About Us Section -->
<section class="section has-background-primary-light py-6-mobile">
  <div class="container has-text-centered">
    <h2 class="title is-size-3-tablet is-size-3-mobile">About Prairie Plants</h2>
    <p class="content is-size-6 is-size-5-mobile">
      We are passionate about bringing the beauty of plants into your home. Our wide selection of plants is perfect for every environment, from low-maintenance indoor plants to vibrant garden additions.
    </p>
    <div class="buttons is-centered">
      <a href="<%= about_page_pages_path %>" class="button is-primary is-fullwidth-mobile">Learn More</a>
    </div>
  </div>
</section>
