<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prairie Plants - Home</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
        <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
  </head>
  <body>
    <main class="page-content">
      <% if @page %>
        <section class="about-section">
          <h1 class="page-title"><%= @page.title.capitalize %></h1> <!-- Capitalized title for better formatting -->
          <br>
          <div class="page-content-body"><%= raw @page.content %></div> <!-- raw allows HTML content to be rendered -->
        </section>
      <% end %>
    </main>
  </body>
</html>
