<h1><%= @category.name %></h1>
<p><%= @category.description %></p>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= truncate(product.description, length: 100) %></p>
          <p><strong>Price:</strong> $<%= product.price %></p>
          <%= link_to "View Details", product_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @products %>
</div>