<!-- Display Breadcrumbs -->
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= breadcrumbs %></li>
  </ul>
</nav>

<div class="container mt-5">
  <h1 class="title is-1 has-text-centered"><%= product.name %></h1>
  
  <div class="columns mt-4">
    <div class="column">
      <!-- Product Image -->
      <% if product.image.present? %>
        <div class="product-image has-text-centered mb-4" style="float: left;">
          <%= image_tag product.image.url(), alt: product.name, class: "image" , style: "margin-left: -10%;" %>
        </div>
      <% else %>
        <div class="product-image has-text-centered mb-4">
          <p>No image available</p>
        </div>
      <% end %>

      <h3 class="is-size-3">Price: $<%= product.price %></h3>
      <p><%= product.description %></p>

      <% if product.categories.any? %>
        <p><strong>Categories:</strong> 
          <%= product.categories.map { |category| link_to category.name, category_path(category) }.join(", ").html_safe %>
        </p>
      <% end %>

    <!-- Add to Cart Button -->
    <%= form_with url: add_product_carts_path(product), method: :post, authenticity_token: false do |form| %>
      <%= tag(:input, type: 'hidden', name: 'authenticity_token', value: form_authenticity_token) %>
      <button type="submit" class="button is-success mt-3">Add to Cart</button>
    <% end %>


      <% if product.categories.any? %>
        <a href="<%= category_path(product.categories.first) %>" class="button is-primary mt-3">
          Back to <%= product.categories.first.name %>
        </a>
      <% else %>
        <a href="<%= products_path %>" class="button is-light mt-3">Back to All Products</a>
      <% end %>
    </div>
  </div>
</div>
