<div class="column is-one-third mb-4">
  <div class="card custom-card">
    <div class="card-content">
            <% if product.image.present? %>
        <div class="product-image has-text-centered mb-4" style="float: left;">
          <%= image_tag product.image.url(), alt: product.name, class: "image" %>
        </div>
      <% else %>
        <div class="product-image has-text-centered mb-4">
          <p>No image available</p>
        </div>
      <% end %>
      <h5 class="title is-5"><%= product.name %></h5>
      <p class="content"><%= truncate(product.description, length: 100) %></p>
      <p><strong>Price:</strong> $<%= product.price %></p>
      <%= link_to "View Details", product_path(product), class: "button is-primary" %>
    </div>
  </div>
</div>
