<head>
  <title>Prairie Plants - Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
</head>

<p class="mb-5">
  Found <%= pluralize(@products.count, 'Product') %> when searching for: 
  "<%= params[:keyword].present? ? params[:keyword] : 'all products' %>"
  <% if @category.present? %> in <%= @category.name %> <% end %>
</p>

<%= render 'product_list', products: @products %> <!-- Rendering the product listing partial -->
