<!-- app/views/layouts/_navbar.html.erb -->
<nav class="navbar has-background-success">
  <div class="navbar-brand">
    <h1><a class="navbar-item" href="/">Prairie Plants</a></h1>
    <button class="navbar-burger burger" data-target="navbarMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="<%= root_path %>">Home</a>
      <a class="navbar-item" href="<%= categories_path %>">Categories</a>
      <a class="navbar-item" href="<%= carts_path %>">Cart</a>
    </div>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item">
          <p>Welcome, <%= current_user.name %>!</p>
        </div>
        <div class="navbar-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "button is-light" %>
        </div>
      <% else %>
        <div class="navbar-item">
          <%= link_to "Login", new_user_session_path, class: "button is-primary" %>
        </div>
        <div class="navbar-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
